.hero-section {
  height: 100vh;
}

.hero-bg-container {
  inset: 0;
  z-index: 0;
}

.hero-bg-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center 30%;
  opacity: 0.9;
}

.hero-overlay {
  inset: 0;
  background: linear-gradient(to top,
      rgba(5, 5, 5, 0.4),
      rgba(5, 5, 5, 0.8));
  z-index: 10;
}

.hero-content {
  z-index: 20;
  max-width: 80rem;
  margin: 0 auto;
  color: var(--color-mint);
  padding: 0 2rem;
}

.hero-title {
  font-family: var(--font-heading);
  font-size: 2.3rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1;
  text-shadow: 0 0 10px var(--color-mint-dark);
  letter-spacing: 4px;
}

.hero-highlight {
  color: var(--color-mint-darker);
  text-shadow: 0 0 5px var(--color-mint-dark);
  font-size: 2rem;
}

.hero-subtitle {
  font-family: var(--font-heading);
  color: var(--color-white);
  text-shadow: 0 0 10px var(--color-mint-dark);
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 4rem;
  }

  .hero-highlight {
    font-size: 3.5rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    max-width: 60rem;
  }
}

@media (min-width: 640px) {
  .hero-buttons {
    flex-direction: row;
    width: auto;
  }
}

.hero-wp-btn {
  font-family: var(--font-script);
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  box-shadow: 0 0 20px var(--color-gold-dark);
  padding: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  backdrop-filter: blur(5px);
  font-weight: 700;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.hero-wp-btn:hover {
  background-color: var(--color-gold-dark);
  color: var(--color-white);
}

.hero-secondary-btn {
  font-family: var(--font-script);
  color: var(--color-mint);
  border: 2px solid var(--color-mint);
  box-shadow: 0 0 20px var(--color-mint-dark);
  padding: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  backdrop-filter: blur(5px);
  font-weight: 700;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.hero-secondary-btn:hover {
  background-color: var(--color-mint-dark);
  color: var(--color-white);
}